{% extends 'catalog/base.html' %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Skystore</h1>
    <p class="lead">Skystore - это отличный онлайн магазин с продукцией Apple</p>
</div>
  <div class="col-12 mb-6">
      <a class="btn btn-outline-primary" href="{% url 'catalog:product_create' %}" >Добавить товар</a>
  <div class="container">
    <div class="row text-center">
        {% for object in object_list %}
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">{{ object.title }}</h5>
                    <p class="card-text">{{ object|truncatechars:100  }}</p>
                      <a class="btn btn-primary" href="{% url 'catalog:product_detail' object.pk %}" >О товаре</a>
                      <a class="btn btn-primary" href="{% url 'catalog:product_delete' object.pk %}" >Удалить</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
