{% extends 'catalog/base.html' %}
{% load catalog_tags %}
{% block title %}
Удаление товара
{% endblock %}
{% block content %}
<div class="col">
    <div class="d-flex justify-content-around align-items-fluid">
        <div class="container ">
            <div class="card-body card-body-sm ">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title text-danger">Подтверждение удаления</h4>
                            Происходит удаление товара "{{ object.title }}"
                            <p class="card-text">
                                Уверены, что хотите удалить?
                            </p>
                            <button type="submit" class="btn btn-outline-success">Удалить</button>
                            <a href="{% url 'catalog:home' %}" class="btn btn-outline-primary">Отмена</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}